body {
	background-color: #08A59F;
}

h1{
	background-color: #FCB813; color: white;
}

h2{
	background-color: #014467; color:white;
}

p{
	color: white;
}

li{
	color:white;
}

a{
	color:white; visited:white; hover:white; active:white;
}