@import url(https://fonts.googleapis.com/css?family=Catamaran:500,700,800,400,300);

* { margin:0; padding:0; box-sizing:border-box; }

/*OVERALL*/

#wrapper {
	margin:0 auto;
}


/*NAVIGATION STYLES*/

nav {
	background-color: rgb(255, 255, 255);
	width: 100%;
	font-family: Catamaran, arial,sans-serif;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	padding: 0em;
	margin-bottom:1em;
	position: fixed;
	z-index: 2;
}

.table {
	display:table;
	margin:0 auto;
}

nav ul {
	min-width: 50em;
	list-style: none;
	padding: 1em;
	list-style-type;none;
}

nav li {
	float:left;
	font-size:1em;
	padding: 1em;
	height:4em;
	width:20%;
}

#logo {
	font-size: 1.5em;
	padding:0em;
	color:#B82C59;
}


/*BODY SECTIONS*/

#two_column {
}

.overview {
	padding:6em 1em 1em 1em;
	padding-top:6em;
	padding-right:1em;
	padding-left:1em;
	background-color: rgb(91,155,213);
	width:25%;
	position: fixed;
	left: 0;
	height: 100%;
	z-index: 1;
}

.fullbleed {
	padding:20px;
	background: url(../images/globalhealth.jpg);
	background-size: cover;	
	width:75%;
	height:65em;
    float:right;
}

.featured div {
	margin: 0 auto;
	width: 80%;
}

.content {
	padding-left:1em;
	padding-right:1em;
	background-color:white;
	margin: 0 auto;
	background-size: cover;
	width:75%;
	float:right;
	padding-top: 4em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.gallery {
	width: 33.33%;
	/* height:20em; */
	/* margin: 0em 1em 1em 0em; */
	padding: .5em;
	float:left;
	/* overflow:hidden; */
}

img {
	width: 100%;
}

/*FOOTER*/

footer {
	clear:both;
	color:black;
	text-align:center;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	line-height:3em;
	width:100%;
	position: relative;
	bottom: 0;
	width: 100%;
	z-index: 2;
}

.social {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}



/*LINKS*/


a, a:hover {
	text-decoration:none;
	border:none;
}

a:visited {
	text-decoration: none;
}

nav a:hover, a:active {
	border-bottom: 7px solid #B82C59;
	color:black;
	background-color:none;
}

nav a {
	color:black;
}

a:hover#logo {
	border:none;
}

section a:hover, a:active {
	background-color:#B82C59;
	color:white;
	border-radius: 4px;
	border: 4px solid white;
}

footer a:hover, a:active {
	text-decoration:none;
	border:none;
}

.button {
	text-align:center;
	letter-spacing:.1em;
	font-family: Catamaran, Helvetica,sans-serif;
	border-radius: 4px;
	border: 4px solid white;
	padding:1em;
	margin: 2em 0em 2em 0em;
	display:inline-block;
	font-weight:700;
	color:white;
}

footer a {
	padding: 1em;
}


/*HEADINGS*/

body {
	font-size:16px;
}

h1 {
	font-size:3em;
	font-family: Catamaran, Helvetica, sans-serif;
	color:white;
	line-height:1.25em;
}

p {
	font-family: Catamaran, Helvetica, sans-serif;
	line-height: 1.5em;
	letter-spacing:.1em;
	font-weight:300;
	color:white;
}

hr {
	width:50px;
	border:none;
	text-align:left
	padding:2em 0em 2em 0em;
	margin:2em 0em 2em 0em;
	text-align:middle;
	border-top: 7px solid #B82C59;
}

#highlight {
	color:yellow;
	font-weight:700;
}

footer p {
	color:black;
}
