@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);

/*note: is this the right way to think about a 3-column structure?*/
/*How can I make this responsive?*/

#header {
	height:50px;
	background-color:white;
}

#container {
	width:1500px;
	margin:0 auto;
}

#leftbar {
	background:rgba(255,255,255,1);
	float:left;
	width: 20%;
	height:1000px;
}

#middlebar {
	background: url(../images/mural.jpg);
	background-size: cover;	
	float:left;
	width:60%;
	height:1000px;
}

#rightbar {
	background: rgba(255,255,255,1);
	text-align:left;
	float:left;
	width:20%;
	height:1000px;
}

#footer {
	clear:both;
	background-color:white;
	height:50px;
	color:black;
	text-align:center;
}


/*STYLE ELEMENTS*/


/*note: want to make these into icons that change when you hover*/

a:link, a:visited {
	text-decoration: none;
	color:black;
}

a:hover { 
    background-color: rgba(255,190,60,.5);
}

body {
	text-align: left;
	background: white;
	font-family: "Raleway", serif;
	color: black;
	margin:1.5em;
}

#buttons {
	text-align:center;
}

hr {
	width:100%;
	text-align:left
	margin:1.5em;
	border-top: 1px dotted #8c8b8b;
}
h1 {
	font-family:'Cedarville Cursive', cursive;
	font-size: 2.5em;
	text-align:center;
	margin:1.5em;
	color:black;
}

h2 {
	font-family:'Cedarville Cursive', cursive;
	font-size: 1.9em;
	margin:1.5em;
}

p, ul {
	font-family: "Raleway", serif;
	list-style-type: none;
	font-size:.8em;
	line-height: 1.5em;
	margin:1.5em;
}