@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);

* { margin:0; padding:0; box-sizing:border-box; }

/*SEMANTIC ELEMENTS (IN ORDER OF APPEARANCE)*/


#wrapper {
	max-width: 1500px;
	margin:0 auto;
}

nav {
	background-color:#E8C66A;
    border: 1px black solid;
    padding: 20px;
    text-align:center;
}

section {
	background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#leftbar {
	background-color:#E89C6C;
    border: 1px black solid;
    padding: 20px;
}

#middlebar {
	background: url(../images/mural.jpg);
	background-size: cover;	
	width:60%;
	height:1000px;
    border: 1px black solid;
    padding: 20px;
}

#rightbar {
	background-color:#FFC675;
    border: 1px black solid;
    padding: 20px;
}

footer {
	clear:both;
	color:black;
	text-align:center;
	background-color:#FF957E;
    border: 1px black solid;
    padding: 20px;
}


/*STYLE ELEMENTS (IN ALPHABETICAL ORDER)*/

a:link, a:visited {
	text-decoration: none;
	color:black;
}

a:hover { 
    background-color: rgba(255,190,60,.5);
}

body {
	text-align: left;
	background: white;
	font-family: "Raleway", serif;
	color: black;
	margin:1.5em;
}

#buttons {
	text-align:center;
}

h1 {
	font-family:'Cedarville Cursive', cursive;
	font-size: 2.5em;
	text-align:center;
	/* margin: 1.5em; */
	color:black;
}

h2 {
	font-family:'Raleway', serif;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 1.5em 0;
}

hr {
	width:100%;
	text-align:left
	margin:1.5em;
	border-top: 1px dotted #8c8b8b;
}

li {
	border: dotted none;
}

.menu {
	display:inline-block;
	text-transform: uppercase;
}

#menulogo {
	display:inline-block;
}

p, ul {
	font-family: "Raleway", serif;
	list-style-type: none;
	font-size:.8em;
	line-height: 1.5em;
	margin: 1.5em 0;
}