/*FORMATTING COLUMNS*/

#container {
	width:1300px;
	margin:0 auto;
}

#leftbar {
	background:rgba(255,255,255,1);
	float:left;
	width: 25%;
	height:1000px;
}

#middlebar {
	background: url(../images/mural.jpg);
	background-size: cover;	
	float:left;
	width:50%;
	height:1000px;
}

#rightbar {
	background: rgba(255,255,255,1);
	text-align:justify;
	float:left;
	width:25%;
	height:1000px;
}


/*STYLE ELEMENTS*/

a:link, a:visited {
	background-color: rgba(68,94,127,1);
	color: white;
	padding: 5px 5px;
	text-align: center;
	width:60px;
	height:60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

body {
	text-align: left;
	background: white;
	font-family: "Lucida Sans Unicode";
	color: black;
}

#buttons {
	text-align:center;
}

p, ul {
	font-size:12px;
}

hr {
	width:75%;
	text-align:center;
}

#slogan {
	font-style: italic;
}


